
body {
    background-color: #F2F2F2; 
   }

   /*-------NAVBAR------*/

nav {
    background-color: #F2F2F2;
    height: 100px;
    width: 100%;
    text-align: left;
}

/*LOGO*/

#logo {
    margin: 15px; 
    position: relative;
    height: 60px;
    width: auto; 
    border-radius: 50%;
}

nav img {
    max-width: 200px;
    width: 130px;
}

/*LINKS*/

nav ul {
   display: flex;
   align-items: center;
   justify-content: center;
}

nav ul .navlinks li {
    padding: 10px;
}
nav ul div.navlinks {
    padding: 0 0 0 150px;
    display: inline-block;
}

nav ul li a {
    font-size: 17px;
    color:#1B203D;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Noto Sans';
}

nav ul div.navlinks a:hover {
    text-decoration: none;
    color: #FF8800;
}

/*LINKS*/

/*SEARCHBAR*/

nav ul .search-icon {
    height: 35px;
    width: 200px;
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    border: solid black 1px;
}

nav ul .search-icon input {
    height: 100%;
    width: 155px;
    outline: none;
    padding: 0 10px;
    border: none;
    border-radius: 50%;
}

nav ul .search-icon .icon {
    color:#ffffff;
    font-size: 18px;    
    height: 100%;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #b6b4b4;
    border-radius: 50%;
    cursor: pointer;
}


nav ul .search-icon .icon:hover {
    background: #0080FF;
}

nav ul .search-icon .icon span {
    color: #ffffff;
    font-size: 17px;
}

/*SEARCHBAR*/

/*BUTTON*/

nav .btn button{
    background: #1B203D;
    text-decoration: none;
    border-radius:3px;
}

nav .btn a {
    color: #F2F2F2;
    border-radius:3px;
}

/*CARTBUTTON*/

nav ul .cart-btn {
    height: 100%;
    width: 25px;
    background-color: #1B203D;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
}

nav ul .cart-btn:hover {
    background: #0080FF;
}

nav ul .cart-btn i{
    color: #ffffff;
    height: 100%;
    font-size: 20px;
}

label #btn, label #cancel {
    color: #1B203D;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

/*-----------NAVBAR---------*/

/*-----------MENU---------*/
menu {
    text-align: center;
    width: 1200px 0;
}

menu ul {
    display: inline-block;
    border-bottom: black solid 2px;
    padding-inline-start: 0;
}

menu ul li {
    padding: 0 50px;
    display: inline-flex;
}

menu ul li a {
    text-decoration: none;
    font-size: 30px;
    color: #0080FF;
    font-family: 'Noto Sans'; 
}

menu ul li a:hover {
    color: #FF8800;
    text-decoration: underline;
}

/*-----------MENU---------*/

/*-----------MAIN---------*/

main .container{
    text-align: center;
}

main .container img {
    width: 250px;
    display: inline-block;
    margin: 25px 100px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

h1 {
    text-align: center;
    color: #0080FF;
    font-family: 'Noto Sans';
    
}

main .maingames {
    text-align: center; 
}
main .maingames img {
    text-align: center;
    height: 100%;
    width: 250px;
    border:2px solid black;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    display: inline-block;
    margin: 25px 25px;
}

/*-----------MAIN---------*/


/*-------FOOTER--------*/
footer {
    background-color: #1B203D;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer img {
    max-width: 200px;
    width: 130px;
}
/*-------FOOTER--------*/

