
/*-----------Base---------*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    position: relative;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

header {
	display: flex;
	width: 80%;
	height: 15vh;
	margin: auto;
	align-items: center;
}

.navbar {
    display: flex;
    margin: 0;
}

.navbar img {
    width: 150px;
	margin: 5px;
    margin-right: 30px;
}

main {
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.bg {
    background-image: url(/images/GameHub_Logocopy.svg);
    background-size: cover;
    background-repeat: no-repeat;  
}

/*-----------HOME PAGE-----------*/
.logo, .nav-links, .cart {
	display: flex;
}

.logo {
    flex: 1;
}
.logo img{
	width: 150px;
	margin: 5px;
    margin-right: 40px;
}

/*SEARCHBAR*/

.search-icon {
    flex: 1;
    margin-top: 30px;
    margin-left: 20px;
    height: 35px;
    width: 200px;
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    border: solid black 1px;
}

.search-icon input {
    height: 100%;
    width: 155px;
    outline: none;
    padding: 0 10px;
    border: none;
    border-radius: 50%;
}

.search-icon .icon {
    color:#ffffff;
    font-size: 18px;    
    height: 100%;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #b6b4b4;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 0px;
}

.search-icon .icon span {
    color: #ffffff;
    font-size: 17px;
}

.search-icon .icon:hover {
    background: #0080FF;
}

/*LINKS*/

nav {
	flex: 1;
    margin-left: 0px;
    justify-content: flex-end;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
    padding-left: 0;
    
}
.nav-links li {
    margin-left: 150px;
    margin-right: 20px;
}
.nav-link {
	color: #1B203D;
	font-size: 18px;
    white-space: nowrap;
}

/*CART*/

.cart {
	flex: 1;
	justify-content: flex-end;
    margin-left: 0px;
}

.cart-btn {
    height: 50px;
    width: 50px;
    background-color: #1B203D;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
}

.cart-btn:hover {
    background: #0080FF;
}

.cart-btn i{
    color: #ffffff;
    height: 100%;
    width: 50px;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 12px;
}

/*NAV2*/
.nav2 {
    margin-left: 0px;
}
.nav2 ul {
    padding-left: 0;
    margin: auto;
    align-items: center;
    border-bottom: black solid 2px;
}
.nav2 li {
    display: inline;
    margin-left: 100px;
    margin-right: 100px;
}

.nav2 li a {
    color: #0080FF;
    font-size: 25px;
}

/*MAIN*/

main .container{
    text-align: center;
    margin-top: 40px;
}

main .container img {
    width: 250px;
    display: inline-block;
    margin: 25px 100px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

h1 {
    text-align: center;
    color: #0080FF;
}

main .games {
    text-align: center; 
}
main .games img {
    text-align: center;
    height: 100%;
    width: 250px;
    border:2px solid black;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    display: inline-block;
    margin: 25px 25px;
}

/*----------Search Page-----------*/

.search-icon, .account {
    flex: 1;
}

/*SEARCHBAR*/

.search-icon li {
    margin-left: 0px;
}
.navbar .search-icon {
    height: 40px;
    width: 350px;
    display: flex;
    background: #ffffff;
    border: solid black 1px;
    margin-bottom: 10px;
}

.navbar .search-icon input {
    height: 100%;
    width: 380px;
    outline: none;
    padding: 0 10px;
    border: none;
    font-size: 23px;
}
.navbar .search-icon .icon {   
    height: 40px;
    width: 50px;
    background:#1B203D;
    border-radius: 50%;
    cursor: pointer;
}

.navbar .search-icon .icon:hover {
    background: #0080FF;
}

.navbar .search-icon .icon span {
    color: #ffffff;
    font-size: 17px;
}
.navbar li a {
    font-size: 18px;
}

/*Account*/

.account {
    display: flex;
    justify-content: flex-end;
}

.account a {
    color: #1B203D;
    font-size: 20px;
}

/*Main*/

 .gameimg{
    display: flex;
    margin: 10px;
}
 .gameimg a {
    margin: 0;
}

.gameimg img{
    width: 250px;
    border: solid black 2px;
    text-align: center;
    border:2px solid black;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    display: inline-block;
    margin: 25px 25px;
}
.gametext {
    margin-left: 70px;
}

.gametext h2 {
    color:#1B203D;
    margin-top: 0;
}

.gametext p {
    font-family: "Open Sans";
    color: black;
}

.gametext .price {
    color: #FF8800;
    font-size: 23px;
    font-weight: bold;
}

/*----------Game Page-----------*/
nav {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li a {
    color: #1B203D;
    font-size: 20px;
}

.gametitle h1 {
    text-align: left;
    color: #1B203D;
    font-size: 27px;
}

.gametitle img {
    width: 250px;
    margin-top: 20px;
    border: solid black 2px;
}

.gametitle button {
    background-color: #1B203D;
    height: 35px;
    width: 150px;
    margin-left: 30px;
    border-radius: 4px;
    text-decoration: none;
}

.gametitle button a {
    color: #FF8800;
}

.gamerow {
    display: grid;
    grid-template-columns: 50% 50%;
    position: static;
}
.gameabout {
    margin-top: 20px;
}

.gameabout p {
    color: #1B203D;
    font-size: 17px;
    line-height: 1.5;
}

.gameinfo {
    margin-top: 70px;
    margin-left: 150px;
    border: solid black 2px;
    width: 250px;
    height: 150px;
    font-family: "Open Sans";
    font-size: 15px;
    text-decoration: none;
    position: relative;
}

.gameinfo ul {
    padding: 10px;
}
/*-------------ACCOUNT PAGE-----------*/

.acch {
    font-family: "open sans";
    color: #1B203D;
}

.accimg {
    display: inline-block;
}
.accimg img {
    width: 200px;
    border: solid black 2px;
}

.accdetails {
    display: inline-block;
    width: 650px;
    border: solid black 2px;
    padding: 0px;
    margin: 0px;
    margin-left: 100px;
}

.accdetails h3{
    margin-left: 10px;
}
.accdetails li {
    color: #0080FF;
    line-height: 30px;
    display: block;
    text-decoration: none;
    margin-left: 10px;
}

/*------Register/CreateAccount // Checkout------*/

.registertext, .registercancel{
    flex: 1;
}

.registertext h1 {
    color: #1B203D;
    font-size: 29px;
    letter-spacing: 2px;
    white-space: nowrap;
    font-family: "open sans";
}

.registercancel {
    display: flex;
    justify-content: flex-end;
}

.registercancel a {
    color: #0080FF;
    font-family: "open sans";
    font-size: 25px;
}

/*RegisterForm*/
.register {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

.registerform {
    padding: 16px;
    display: inline-block;
    margin-left: 50px;
}

input[type=text], input[type=password] {
    width: 300px;
    padding: 15px;
    margin: 0 0 22px 0;
    margin-left: 40px;
    display: block;
    border: solid black 1px;
    background: white;
    font-family: "open sans";
    font-size: 17px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #f1f1f1;
    outline: none;
  }

  .registerbtn {
    background-color: #1B203D;
    color:#FF8800;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  .registerform a {
    color: #FF8800;
    font-size: 20px;
  }

/*-------------Checkout---------------*/
label {
    color: #0080FF;
    margin-right: 230px;
}

/*---------Checkoutsuccess-------------*/

.ty {
    margin-top: 280px;
    margin-left: 70px;
}
h1 {
    margin-bottom: 20px;
    color: #1B203D;
    font-family: "open sans";
}
table {
    font-family: "open sans";
    border-collapse: collapse;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
  }
  
  td, th {
    line-height: 30px;
    border: 2px solid black;
    text-align: left;
    padding: 8px;

  }
  .gone {
      border: none;
      background-color: none;
  }

  .total {
      color: #FF8800;
  }

  .back {
      width: 100%;
      text-align: center;
      margin-top: 100px;
  }

  .back a {
      font-family: "open sans";
      color: #0080FF;
      font-size: 20px;
      font-weight: 600;
  }
  
/*------------------CONTACT------------------*/
.contact {
    margin-top: 100px;
}
.contact h1 {
    margin-top: auto;
}

.contact .search-icon-contact {
    height: 40px;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    background: #ffffff;
    border: solid black 1px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.contact .search-icon-contact input {
    height: 100%;
    width: 300px;
    outline: none;
    padding: 0 10px;
    border: 6px;
    font-size: 23px;
    margin-left: 10px;
}
.contact .search-icon-contact .icon {
    font-size: 18px;    
    height: 100%;
    width: 40px;
    text-align: right;
    background:#1B203D;
    border-radius: 50%;
    cursor: pointer;
}

.contact .search-icon-contact .icon:hover {
    background: #0080FF;
}

.contact .search-icon-contact .icon span {
    color: #ffffff;
    font-size: 17px;
}

.helpbtn {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}

.helpbtn ul {
    padding: 0;
}

.helpbtn button {
    margin: 25px;
    line-height: 30px;
    width: 10%;
    font-family: "open sans";
    color: #FF8800;
    background-color: #1B203D;
    border-radius: 5px;
}

/*--------------FOOTER------------*/
footer {
    background-color: #1B203D;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer a {
    color: white;
}

footer img {
    max-width: 200px;
    width: 130px;
}


/*********Tablet**********/
@media screen and (max-width: 1300px) {
    .nav-links li {
        margin-left: 100px;
    }

    .search-icon {
        margin-left: 0;
    }

    .container {

        display: inline-block;
    }

    .container img {
        height: 20vh;
    }

}