
header {
	display: flex;
	width: 80%;
	height: 15vh;
	margin: auto;
	align-items: center;
}

.logo, .nav-links, .cart {
	display: flex;
}

.logo {
    flex: 1;
    margin-left: 50px;
}
.logo img{
	width: 150px;
	margin: 5px;
    margin-right: 30px;
}

/*SEARCHBAR*/

.search-icon {
    margin-top: 25px;
    height: 35px;
    width: 200px;
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    border: solid black 1px;
}

.search-icon input {
    height: 100%;
    width: 155px;
    outline: none;
    padding: 0 10px;
    border: none;
    border-radius: 50%;
}

.search-icon .icon {
    color:#ffffff;
    font-size: 18px;    
    height: 100%;
    width: 35px;
    line-height: 35px;
    text-align: center;
    background: #b6b4b4;
    border-radius: 50%;
    cursor: pointer;
}

.search-icon .icon span {
    color: #ffffff;
    font-size: 17px;
}

.search-icon .icon:hover {
    background: #0080FF;
}

/*LINKS*/

nav {
	flex: 2;
    margin-left: 0px;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
    padding-left: 0;
    
}
.nav-links li {
    margin-left: 150px;
}
.nav-link {
	color: #1B203D;
	font-size: 18px;
    font-family: "noto sans";
	text-decoration: none;
    white-space: nowrap;
}

/*CART*/

.cart {
	flex: 1;
	justify-content: flex-end;
    margin-left: 20px;
}

.cart-btn {
    height: 50px;
    width: 50px;
    background-color: #1B203D;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
}

.cart-btn:hover {
    background: #0080FF;
}

.cart-btn i{
    color: #ffffff;
    height: 100%;
    width: 50px;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 12px;
}

/*NAV2*/
.nav2 {
    margin-left: 0px;
}
.nav2 ul {
    padding-left: 0;
    margin: auto;
    align-items: center;
    border-bottom: black solid 2px;
}
.nav2 li {
    display: inline;
    margin-left: 100px;
    margin-right: 100px;
}

/*-----------MAIN---------*/

main .container{
    text-align: center;
    margin-top: 40px;
}

main .container img {
    width: 250px;
    display: inline-block;
    margin: 25px 100px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
}

h1 {
    text-align: center;
    color: #0080FF;
    font-family: 'Noto Sans';
    
}

main .maingames {
    text-align: center; 
}
main .maingames img {
    text-align: center;
    height: 100%;
    width: 250px;
    border:2px solid black;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    display: inline-block;
    margin: 25px 25px;
}

/*----------Search Page--------*/
.pagenav {
    display: flex;
    margin: auto;
}

.logo, .search-icon, .account {
    flex: 1;
}

.pagenav img {
    width: 150px;
	margin: 5px;
    margin-right: 30px;
}

/*SEARCHBAR*/

.search-icon li {
    margin-left: 0px;
}
.pagenav .search-icon {
    height: 40px;
    width: 350px;
    display: flex;
    background: #ffffff;
    border: solid black 1px;
    margin-bottom: 10px;
}

.pagenav .search-icon input {
    height: 100%;
    width: 300px;
    outline: none;
    padding: 0 10px;
    border: none;
    font-size: 23px;
}
.pagenav .search-icon .icon {
    font-size: 18px;    
    height: 100%;
    width: 40px;
    text-align: right;
    background:#1B203D;
    border-radius: 50%;
    cursor: pointer;
}

.pagenav .search-icon .icon:hover {
    background: #0080FF;
}

.pagenav .search-icon .icon span {
    color: #ffffff;
    font-size: 17px;
}

.pagenav li a {
    font-family: "Noto Sans";
    font-size: 18px;
}

/*Account*/

.account {
    display: flex;
    justify-content: flex-end;
}

.account a {
    color: #1B203D;
    text-decoration: none;
    font-size: 20px;
    font-family: "noto sans";
}

/*Main*/

.searchpagemain {
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
}


.searchpagemain .gameimg{
    display: flex;
    margin: 10px;
}
.searchpagemain .gameimg a {
    margin: 0;
}

.searchpagemain .gameimg img{
    width: 250px;
    border: solid black 2px;
    text-align: center;
    border:2px solid black;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    display: inline-block;
    margin: 25px 25px;
}

.searchpagemain .gametext {
    margin-left: 70px;
}

.searchpagemain .gametext a {
    text-decoration: none;
}

.searchpagemain .gametext h2 {
    font-family: "Noto Sans";
    color:#1B203D;
    margin-top: 0;
}

.searchpagemain .gametext p {
    font-family: "Open Sans";
    color: black;
}

.searchpagemain .gametext .price {
    color: #FF8800;
    font-size: 23px;
    font-family: "Noto Sans";
    font-weight: bold;
}

/*----------Game Page--------*/
nav {
    list-style: none;
    display: flex;
    align-items: center;
}

.accountpage {
    margin: 0px;
}


nav li a {
    color: #1B203D;
    font-size: 20px;
    text-decoration: none;
    font-family: "Noto Sans";
}

.gametitle h1 {
    text-align: left;
    color: #1B203D;
    font-size: 27px;
    margin-left: 250px;
}

.gametitle img {
    width: 250px;
    margin-top: 20px;
    margin-left: 250px;
    border: solid black 2px;
}

.gametitle button {
    background-color: #1B203D;
    height: 35px;
    width: 150px;
    margin-left: 30px;
    font-family: "Noto Sans";
    border-radius: 4px;
    text-decoration: none;
}

.gametitle button a {
    color: #FF8800;
    text-decoration: none;
}

.gamerow {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-right: 300px;
    position: static;
}
.gameabout {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 200px;
}

.gameabout h2 {
    color: #1B203D;
}

.gameabout p {
    color: #1B203D;
    font-size: 17px;
    line-height: 1.5;
}

.gameinfo {
    margin-top: 50px;
    margin-left: 30px;
    border: solid black 2px;
    width: 280px;
    font-family: "Open Sans";
    font-size: 15px;
    text-decoration: none;
    position: relative;
}

/*----Register/CreateAccount----*/

/*NAV*/

.bg {
    background-image: url(/images/GameHub_Logocopy.svg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.createacc {
    display: flex;
}

.registertext, .registercancel{
    flex: 1;
}

.registertext h1 {
    color: #1B203D;
    font-size: 29px;
    letter-spacing: 2px;
    white-space: nowrap;
    font-family: "open sans";
}

.registercancel {
    display: flex;
    justify-content: flex-end;
}

.registercancel a {
    color: #0080FF;
    text-decoration: none;
    font-family: "open sans";
    font-size: 25px;
}
/*RegisterForm*/

.register {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}

.registerform {
    padding: 16px;
    display: inline-block;
    margin-left: 50px;
}

input[type=text], input[type=password] {
    width: 300px;
    padding: 15px;
    margin: 0 0 22px 0;
    margin-left: 40px;
    display: block;
    border: solid black 1px;
    background: white;
    font-family: "open sans";
    font-size: 17px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #f1f1f1;
    outline: none;
  }
  
 

  .registerbtn {
    background-color: #1B203D;
    color:#FF8800;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  .registerform a {
    color: #FF8800;
    text-decoration: none;
    font-family: "noto sans";
    font-size: 20px;
  }

/*-------Checkout--------*/

label {
    color: #0080FF;
    margin-right: 230px;
}
/*-------FOOTER--------*/
footer {
    background-color: #1B203D;
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer img {
    max-width: 200px;
    width: 130px;
}


